/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#btn_generate{
	-fx-font-size: 17px;
	-fx-font-weight: bold; 
	-fx-background-color: #389A9D;
	-fx-text-fill: #FF8F26;
	-fx-padding: 8 12 8 12;
	-fx-border-radius: 10;
	-fx-border-color: #FF8F26;
	-fx-border-width: 2;
}

#my_message{
	-fx-font-size: 35px;			
	-fx-font-weight: bold;
	-fx-text-fill: #90C564;
	-fx-background-color: #389A9D;
	-fx-padding: 6 6 6 6;
}

.root{
	-fx-background-color: #389A9D;
}