/Boolean1.class
/Boolean2.class
/IfExercise1.class
/IfExercise2.class
/IfExercise3.class
/Strings1.class
/Strings2.class
/Var1.class
/Var2.class
/Var3.class
/Var4.class
/demo1.class
/for111.class
/pyramid.class
